body {
    background: #a9a7a8;
    background: -webkit-linear-gradient(to right, hsla(0, 0%, 100%, 0.3), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(img/ESLOGAN\ CONI.png);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(img/ESLOGAN\ CONI.png);
    background-size: 100% 100%;
    background-position: center;
    background-attachment:fixed;
    position: relative;
    background-repeat: no-repeat;
    align-content: center;
}

.encabezado {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    padding-bottom: 0;
}

.imagen-encabezado {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.barra-superior {
    flex: 1;
    background-color: rgb(230, 45, 45);
    color: aliceblue;
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    height: 15px;
}

.barra-superior nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.barra-superior nav a {
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.barra-superior nav a:hover {
    text-decoration: underline;
}

.botones-reporte{
    padding-top: 50px;
    display: flex;
    justify-content: right;
    gap: 30px;
}

.botones-reporte button{
    background-color: rgba(240, 248, 255, 0.311);
    font-style: italic;
    border-radius: 5px;
    box-shadow: 0 0 3px 0 black;
    width: 200px;
    height: 30px;
}

.botones-reporte button:hover{
    background-color: rgb(230, 45, 45);
    cursor: pointer;
    text-decoration: underline;
}

.campoFiltro{
    background-color: rgba(240, 248, 255, 0.56);
    box-shadow: 0 0 10px 0 #000000;
    border-radius: 8px;
    width: auto;
    height: 30px;
    margin-bottom: 40px;
    margin-top: 25px;
}

.valorFiltro{
    background-color: rgba(240, 248, 255, 0.56);
    box-shadow: 0 0 10px 0 #000000;
    border-radius: 8px;
    width: auto;
    height: 30px;
}

.tabla{
    margin: auto;
    width: 90%;
    border-collapse: collapse;
    table-layout: fixed;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
    overflow: hidden; /* Oculta contenido desbordado */
    text-overflow: ellipsis; /* Agrega "..." si se desborda el texto */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  }