body {
  background: #a9a7a8;
  background: -webkit-linear-gradient(to right, hsla(0, 0%, 100%, 0.3), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(img/ESLOGAN\ CONI.png);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(img/ESLOGAN\ CONI.png);
  background-size: 100% 100%;
  background-position: center;
  background-attachment:fixed;
  position: relative;
  background-repeat: no-repeat;
  align-content: center;
}

.encabezado {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  padding-bottom: 0;
}

.imagen-encabezado {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.barra-superior {
  flex: 1;
  background-color: rgb(230, 45, 45);
  color: aliceblue;
  padding: 10px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  height: 15px;
}

.barra-superior nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.barra-superior nav a {
  color: aliceblue;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.barra-superior nav a:hover {
  text-decoration: underline;
}

.container-textos {
  width: 38%;
  text-align: left;
  margin-left: 25px;
}

.container-textos p {
  font-style: italic;
  font-size: 30px;
  color: rgb(7, 7, 60);
}

main {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

.desplegable-compras {
  max-width: 1000px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.desplegable-compras label{
  color: rgb(7, 7, 60);
  font-size: 25px;
  font-weight: 100;
}

.desplegable-compras select{
  background-color: rgba(240, 248, 255, 0.56);
  box-shadow: 0 0 10px 0 #000000;
  border-radius: 8px;
  width: auto;
  height: 30px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.desplegable-compras button {
  width: 140px;
  height: 30px;
  background-color: rgba(240, 248, 255, 0.311);
  border: none;
  border-radius: 8px;
  color: aliceblue;
  font-size: 16px;
  font-style: italic;
  box-shadow: 0 0 3px 0 black;
  transition: background-color 1s;
}

.desplegable-compras button:hover {
  background-color: rgb(230, 45, 45);
  cursor: pointer;
  text-decoration: underline;
}

.descripcion{
  display: flex;
  align-content: center;
  width: 90%;
  margin: auto;
  justify-content: space-evenly;
}

.descripcion input{
  background-color: rgba(171, 173, 175, 0.601);
  display: flex;
  vertical-align: top;
  width: 95%;
  height: 200px;
  margin-top: 3px;
  border-radius: 4px;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, .6);
}

.descripcion textarea{
  padding: 10px;
  background-color: rgba(171, 173, 175, 0.601);
  display: flex;
  vertical-align: top;
  width: 95%;
  height: 200px;
  margin-top: 3px;
  border-radius: 4px;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, .6);
}

.checkbox{
  align-content: center;
  margin-top: 10px;
}

.checkbox input{
  width: 15px;
  height: 15px;
}

.checkbox label{
  font-size: 18px;
}